
.header{
    text-align : center;
    background : gray;
    font-size : 40px;
}
.contain{
    position : relative;
}
.textbox{
    position : absolute;
    color : red;
    background : yellow;
    bottom : 20px;
    left : 20px;
}
 